$mobile: "screen and  (min-width: 375px)";
$tablet: "screen and  (min-width: 768px)";
$computer: "screen and (min-width: 1200px)";

/*Mobil*/
body{
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(75, 79, 80, 1) 60%, rgba(121, 119, 119, 1) 100%);
}
#backgroundPic {
  max-width: 100%;
  height: auto;
}

header {
  color: white;
  h1 {
    font-size: 35pt;

    span {
      color: grey;
    }
  }
  h5{
    font-size: 22pt;
    position: absolute;
    top: 45px;
    color: grey;
  }
  nav {
    i{
      position: absolute;
      left: 40px;
      top: 135px;

    }
    .fa-bars{
      left: 0;
      top: 0;
      padding: 10px;
      font-size: 22pt;
      cursor: pointer;
    }
    input {
      position: absolute;
      right: 60px;
      top: 130px;
      font-size: 14pt;
      border-radius: 15px;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-top: 35px;
      position: relative;
      left: -40px;
      li{
        display: none;
        padding: 5px;

      }
      a{
        text-decoration: none;
        color: white;
      }
      a:hover{
        color: grey;
      }
    }
  }
}


.quote{
  background-color: black;
  h1{
    color: grey;
  }
  .soMe{
    text-align: center;
    padding-bottom: 25px;
    i{
      background-color: dimgrey;
      border-radius: 20px;
      font-size: 20pt;
      padding: 5px;
      color: ghostwhite;
    }
  }
}

.readMore{
  text-align: center;
  background-color: white;
  padding-top: 15px;
  .hiddenOne, .hiddenTwo, .hiddenThree{
    display: none;
  }
  button{
    width: 200px;
    height: 40px;
    background-color: cornflowerblue;
    cursor: pointer;
  }
  .articleOneBg{

    background: url("../img/articleOneImg.jpg") no-repeat;
    height: 150px;
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  .articleTwoBg{
     margin-top: 20px;
     background: url("../img/articleTwoImg.jpg") no-repeat;
     height: 150px;
     width: 100%;
     background-size: contain;
     background-position: center;
   }
  .articleThreeBg{
    margin-top: 20px;
    background: url("../img/articleThreeImg.jpg") no-repeat;
    height: 150px;
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  .sideNumre{
    ul{
    display: flex;
    flex-direction: row;
      justify-content: flex-start;
    list-style: none;
      padding-bottom: 15px;
      li{
        background-color: lightgrey;
        margin-right: 4px;
        padding: 5px;
        cursor: pointer;
      }
  }
  }
}
.greyArea{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: grey;
  text-align: center;
  display: none;
}

.mobileGrey{
  position: fixed;
  background-color: grey;
  top: 40%;
  right: 0;
  padding: 10px;
  cursor: pointer;
}


.sponsorSektion{
  background-color: white;
  h1{
    padding-top: 10px;
    padding-left: 10px;
  }
.sponsors{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .sponsorOne{
  background: url("../img/sponsor1.png") no-repeat;
  height: 100px;
  width: 20%;
  background-size: contain;
  background-position: center;
    margin-right: 5px;
  }
  .sponsorTwo{
    background: url("../img/sponsor2.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorThree{
    background: url("../img/sponsor3.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorFour{
    background: url("../img/sponsor4.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorFive{
    background: url("../img/sponsor5.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorSix{
    background: url("../img/sponsor6.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorSeven{
    background: url("../img/sponsor7.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorEight{
    background: url("../img/sponsor8.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorNine{
    background: url("../img/sponsor9.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorTen{
    background: url("../img/sponsor10.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorEleven{
    background: url("../img/sponsor11.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorTwelve{
    background: url("../img/sponsor12.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorThirteen{
    background: url("../img/sponsor13.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorFourteen{
    background: url("../img/sponsor14.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorFifteen{
    background: url("../img/sponsor15.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorSixteen{
    background: url("../img/sponsor16.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorSeventeen{
    background: url("../img/sponsor17.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorEightteen{
    background: url("../img/sponsor18.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorNineteen{
    background: url("../img/sponsor19.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorTwenty{
    background: url("../img/sponsor20.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
  .sponsorTwentyOne{
    background: url("../img/sponsor21.png") no-repeat;
    height: 100px;
    width: 20%;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
}
}

footer{
  background-color: black;
  color: dimgrey;
  padding: 10px;
  h3{
    color: white;
  }
  .container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;

    .footImgOne{
      background: url("../img/foot1.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
    .footImgTwo{
      background: url("../img/foot2.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
    .footImgThree{
      background: url("../img/foot3.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
    .footImgFour{
      background: url("../img/foot4.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
    .footImgFive{
      background: url("../img/foot5.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
    .footImgSix{
      background: url("../img/foot6.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
    .footImgSeven{
      background: url("../img/foot7.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
    .footImgEight{
      background: url("../img/foot8.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
    .footImgNine{
      background: url("../img/foot9.jpg") no-repeat;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-position: center;
    }
  }
  .soMe{
    cursor: pointer;
    padding-bottom: 25px;
    i{
      background-color: dimgrey;
      border-radius: 20px;
      font-size: 20pt;
      padding: 5px;
      color: ghostwhite;
    }
  }
}
/*Tablet*/
@media #{$tablet} {
  header {
    color: white;
    h1 {
      font-size: 40pt;

      span {
        color: grey;
      }
    }
    h5{
      font-size: 25pt;
      position: absolute;
      top: 35px;
      color: grey;
    }
    nav {
      .fa-bars{
        display: none;
      }
      i{
        position: absolute;
        left: 46%;
        top: 21%;

      }
      input {
        position: absolute;
        right: 30px;
        font-size: 14pt;
        border-radius: 15px;
        margin-top: 5px;
      }
      ul {
        position: relative;
        flex-direction: row;
        li{
          display: block;
        }
      }
    }
  }

  .quote{
    h1{
      width: 70%;
    }
    .soMe{
      margin-left: 50%;
    }
  }

  .readMore{
    padding: 20px;
    .textOne, .textTwo, .textThree{
      padding-left: 15px;
    }
.articleOne{
  display: flex;
  flex-direction: row;

  text-align: left;
  .articleOneBg{
    margin-top: 7%;

  }
}
  .articleTwo{
    display: flex;
    flex-direction: row;
    text-align: left;
    .articleTwoBg{
      padding-right: 20px;
      margin-top: 8%;
    }
  }
  .articleThree{
    display: flex;
    flex-direction: row;

    text-align: left;
    .articleThreeBg{
      margin-top: 6%;
    }
  }
  }

  footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
.footOne{
  width: 45%;
  margin-right: 10%;
}
    .footTwo{
      width: 45%;
    }
    .footThree{
      text-align: center;
      margin-left: 35%;
    }
  }
}

/*Desktop*/
@media #{$computer} {
  header {
    color: white;
    h1 {
      font-size: 40pt;

      span {
        color: grey;
      }
    }
    h5{
      font-size: 25pt;
      position: absolute;
      top: 35px;
      color: grey;
    }
    nav {
      i{
        position: absolute;
        left: 70%;
        top: 3%;
      }
      input {
        position: absolute;
        right: 30px;
        top: 10px;
        font-size: 14pt;
        border-radius: 15px;
        margin-top: 5px;
      }
      ul {
        margin-left: 50%;
        bottom: 80%;
        position: absolute;
        font-size: 15pt;
      }
    }
  }

  .quote{
    padding-top: 35px;
    h1{
      width: 55%;
      font-size: 25pt;
    }
    .soMe{
      padding-bottom: 0;
      i{
        font-size: 25pt;
        margin-right: 10px;
        position: relative;
        bottom: 50px;
      }
    }
  }
.readMore{
  .textOne, .textTwo, .textThree{
    width: 100%;
    position: relative;
    right: 25%;
    margin-top: 5%;
  }
  .articleOneBg, .articleTwoBg, .articleThreeBg{
    background-position: 10%;
  }
}
  .mobileGrey{
    display: none;
  }
  .greyArea{
    display: block;
    position: absolute;
    top: 876px;
    height: 858px;
    width: 300px;
    text-align: left;
   padding-left: 25px;
    a{
      text-decoration: none;
    }
  }
  footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .footThree{
      margin-left: 55px;
      text-align: left;
    }
    .footOne, .footTwo, .footThree{
      width: 30%;
    }
  }


}